#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Postman
Exec=/usr/bin/chromium --profile-directory=Default --app-id=fhbjgbiflinjbdggehcddcbncdddomop
#Icon=chrome-fhbjgbiflinjbdggehcddcbncdddomop-Default
Icon=/home/jc/.local/share/icons/hicolor/16x16/apps/chrome-fhbjgbiflinjbdggehcddcbncdddomop-Default.png
StartupWMClass=crx_fhbjgbiflinjbdggehcddcbncdddomop
