#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Toggl Track
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=chpiljhfemlfpnfoohpbokdofonkiifm
Icon=chrome-chpiljhfemlfpnfoohpbokdofonkiifm-Default
StartupWMClass=crx_chpiljhfemlfpnfoohpbokdofonkiifm
