#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Paper
Exec=chromium --profile-directory=Default --app-id=dibeblefpdjapcdhajpidiklcdpjpipk
Icon=chrome-dibeblefpdjapcdhajpidiklcdpjpipk-Default
StartupWMClass=crx_dibeblefpdjapcdhajpidiklcdpjpipk
