#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Observable
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ioknjpikighmhnkfbgncchbaneiacjpl
Icon=chrome-ioknjpikighmhnkfbgncchbaneiacjpl-Default
StartupWMClass=crx_ioknjpikighmhnkfbgncchbaneiacjpl
