#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ClickUp
Exec=chromium --profile-directory=Default --app-id=edcmabgkbicempmpgmniellhbjopafjh
Icon=chrome-edcmabgkbicempmpgmniellhbjopafjh-Default
StartupWMClass=crx_edcmabgkbicempmpgmniellhbjopafjh
