#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Contacts
Exec=chromium --profile-directory=Default --app-id=pmcngklofgngifnoceehmchjlildnhkj
Icon=chrome-pmcngklofgngifnoceehmchjlildnhkj-Default
StartupWMClass=crx_pmcngklofgngifnoceehmchjlildnhkj
