[Desktop Entry]
Name=Clickup
GenericName=clickup
Icon=chromium
Exec=sh -c "$HOME/.scripts/manage-applications.sh launch_clickup"
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
