[Desktop Entry]
Name=Start Timer
GenericName=Start Timer
Icon=pomodoro-start-light
Exec=sh -c "$HOME/.config/rofi/bin/countdown.sh"
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
