[Desktop Entry]
Name=Docker
GenericName=Docker Daemon
Icon=kdocker
Exec=sh -c "$HOME/.scripts/manage-applications.sh launch_docker"
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
