[Desktop Entry]
Type=Application
Version=2.20191015.0
Name=Kite
Comment=Kite - ML powered code completions
Exec=/home/jc/.local/share/kite/kited
Icon=/home/jc/.local/share/icons/hicolor/128x128/apps/kite.png
Categories=Development;IDE;
