[Desktop Entry]
Name=MPD
GenericName=MPD Daemon
Icon=mpd
Exec=sh -c "mpd ; ashuffle </dev/null &>/dev/null &"
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
