[Desktop Entry]
Name=MPD
GenericName=MPD Daemon
Icon=mpd
Exec=sh -c "$HOME/.scripts/manage-applications.sh launch_mpd"
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
