[Desktop Entry]
Type=Application
Version=1.0
Name[am]=የ ፊደል አስተዳዳሪ
Name[ar]=مدير الخطوط
Name[ca]=Gestor de tipus de lletra
Name[de_DE]=Schriften Verwalter
Name[es]=Gestor de tipografías
Name[pl]=Zarządzanie czcionkami
Name[ru]=Менеджер шрифтов
Name[sv]=Font Manager
Name[zh_CN]=字体管理器
Name[zh_HK]=字体管理器
Name[zh_TW]=字体管理器
Name=Font Manager
GenericName[am]=የ ፊደል አስተዳዳሪ
GenericName[ar]=مدير الخطوط
GenericName[ca]=Gestor de tipus de lletra
GenericName[de_DE]=Schriften Verwalter
GenericName[es]=Gestor de tipografías
GenericName[pl]=Zarządzanie czcionkami
GenericName[ru]=Менеджер шрифтов
GenericName[sv]=Font Manager
GenericName[zh_CN]=字体管理器
GenericName[zh_HK]=字体管理器
GenericName[zh_TW]=字体管理器
GenericName=Font Manager
Comment[sv]=Förhandsgranska, jämför och hantera teckensnitt
Comment=Preview, Compare and Manage Fonts
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[sv]=preferences-desktop-font
Icon=preferences-desktop-font
DBusActivatable=true
Exec=font-manager %u
Terminal=false
MimeType=application/x-font-ttf;application/x-font-type1;application/x-font-otf;
Categories=GTK;GNOME;Utility;Graphics;Viewer;Publishing;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[sv]=Grafik;Visare;GNOME;GTK;Publicering;
Keywords=Graphics;Viewer;GNOME;GTK;Publishing;
StartupNotify=true
