[Desktop Entry]
Name=Timidity++
GenericName=Timidity
Icon=timidity
Exec=sh -c "$HOME/.scripts/manage-applications.sh launch_timidity"
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
