[Desktop Entry]
Name=Webdav
GenericName=Webdav
Icon=network-vpn
Exec=sh -c "$HOME/.scripts/manage-applications.sh launch_webdav"
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
