[Desktop Entry]
Name=Webdav
GenericName=Webdav
Icon=terminal
Exec=webdav --config /home/jc/.config/webdav.yml
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
