[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-vbs;
Exec=env WINEPREFIX="/home/jc/Downloads/win64" wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
