[Desktop Entry]
Type=Application
Name=notepad
MimeType=text/plain;
Exec=env WINEPREFIX="/home/jc/Downloads/win64" wine start /ProgIDOpen txtfile %f
NoDisplay=true
StartupNotify=true
Icon=1E64_notepad.0
