[Desktop Entry]
Type=Application
Name=Wine Installer
MimeType=application/x-wine-extension-msp;
Exec=env WINEPREFIX="/home/jc/Downloads/win64" wine start /ProgIDOpen Msi.Patch %f
NoDisplay=true
StartupNotify=true
Icon=2402_msiexec.0
