!Xft.dpi: 100
Xft.dpi: 102
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

!SXIV COLORS
Sxiv.foreground: #bbbbbb
Sxiv.background: #222222

! to apply changes use: xrdb -load .Xresources
! Execute this after alter this file xrdb -merge ~/.Xresources
